In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv

In [2]:
load_dotenv(verbose = True)
p = os.getenv('url')
t = pd.read_csv(os.path.join(p, 'tier.csv'))
t

     득점  도움  출장  경기당 기록  골 전환율  target
0    26   5  31    0.84    0.2       4
1    24   4  36    0.67    0.2       4
2    22   1  32    0.69    0.2       4
3    19   4  35    0.54    0.1       4
4    14   6  37    0.38    0.2       2
..   ..  ..  ..     ...    ...     ...
175   6   1  34    0.18    0.1       3
176   5   0  12    0.42    0.2       0
177   5   0  24    0.21    0.2       1
178   5   0  25    0.20    0.4       1
179   5   0  26    0.19    0.3       1

[180 rows x 6 columns]

In [3]:
t.corr(method = 'spearman')

              득점        도움        출장    경기당 기록     골 전환율    target
득점      1.000000  0.347198  0.488704  0.728444  0.143576  0.449027
도움      0.347198  1.000000  0.369887  0.104137 -0.083857  0.250249
출장      0.488704  0.369887  1.000000 -0.158071 -0.183169  0.755063
경기당 기록  0.728444  0.104137 -0.158071  1.000000  0.300583 -0.126499
골 전환율   0.143576 -0.083857 -0.183169  0.300583  1.000000 -0.206809
target  0.449027  0.250249  0.755063 -0.126499 -0.206809  1.000000

In [4]:
t.corr(method = 'pearson')

              득점        도움        출장    경기당 기록     골 전환율    target
득점      1.000000  0.262533  0.399252  0.789605  0.180581  0.484524
도움      0.262533  1.000000  0.348120  0.056554 -0.060409  0.192226
출장      0.399252  0.348120  1.000000 -0.199526 -0.200393  0.807266
경기당 기록  0.789605  0.056554 -0.199526  1.000000  0.314515  0.029916
골 전환율   0.180581 -0.060409 -0.200393  0.314515  1.000000 -0.212185
target  0.484524  0.192226  0.807266  0.029916 -0.212185  1.000000

In [9]:
n_list = []
for i in range(0, len(t)):
    n_list.append(i)
t['name'] = n_list

t.head(10)

   득점  도움  출장  경기당 기록  골 전환율  target  name
0  26   5  31    0.84    0.2       4     0
1  24   4  36    0.67    0.2       4     1
2  22   1  32    0.69    0.2       4     2
3  19   4  35    0.54    0.1       4     3
4  14   6  37    0.38    0.2       2     4
5  13   6  31    0.42    0.1       2     5
6  13   3  33    0.39    0.1       2     6
7  13   4  35    0.37    0.1       2     7
8  11   3  33    0.33    0.2       3     8
9   9   2  23    0.39    0.2       1     9

In [10]:
t.to_csv('tier_with_n.csv')

In [5]:
c_t = t.groupby('target')

In [8]:
c_t_m = c_t.mean()

In [9]:
c_t_m.corr()

              득점        도움        출장    경기당 기록     골 전환율
득점      1.000000  0.930795  0.467540  0.844702  0.630334
도움      0.930795  1.000000  0.743833  0.601852  0.333563
출장      0.467540  0.743833  1.000000 -0.067348 -0.375023
경기당 기록  0.844702  0.601852 -0.067348  1.000000  0.941866
골 전환율   0.630334  0.333563 -0.375023  0.941866  1.000000