In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv

In [2]:
load_dotenv(verbose = True)
p = os.getenv('url')
t = pd.read_csv(os.path.join(p, 'tier.csv'))
t

     득점  도움  출장  경기당 기록  골 전환율  target
0    26   5  31    0.84   0.24       3
1    24   4  36    0.67   0.24       3
2    22   1  32    0.69   0.20       3
3    19   4  35    0.54   0.14       3
4    14   6  37    0.38   0.21       3
..   ..  ..  ..     ...    ...     ...
175   6   1  34    0.18   0.14       1
176   5   0  12    0.42   0.19       2
177   5   0  24    0.21   0.18       0
178   5   0  25    0.20   0.38       0
179   5   0  26    0.19   0.28       0

[180 rows x 6 columns]

In [3]:
t.corr(method = 'spearman')

              득점        도움        출장    경기당 기록     골 전환율    target
득점      1.000000  0.347198  0.488704  0.728444  0.175923  0.413940
도움      0.347198  1.000000  0.369887  0.104137 -0.154020  0.136990
출장      0.488704  0.369887  1.000000 -0.158071 -0.232064  0.174616
경기당 기록  0.728444  0.104137 -0.158071  1.000000  0.365489  0.499967
골 전환율   0.175923 -0.154020 -0.232064  0.365489  1.000000  0.201733
target  0.413940  0.136990  0.174616  0.499967  0.201733  1.000000

In [4]:
t.corr(method = 'pearson')

              득점        도움        출장    경기당 기록     골 전환율    target
득점      1.000000  0.262533  0.399252  0.789605  0.193649  0.622515
도움      0.262533  1.000000  0.348120  0.056554 -0.123332  0.183921
출장      0.399252  0.348120  1.000000 -0.199526 -0.239320  0.046748
경기당 기록  0.789605  0.056554 -0.199526  1.000000  0.367939  0.632079
골 전환율   0.193649 -0.123332 -0.239320  0.367939  1.000000  0.251064
target  0.622515  0.183921  0.046748  0.632079  0.251064  1.000000

In [7]:
c_t = t.groupby('target')

In [8]:
c_t_m = c_t.mean()

In [9]:
c_t_m.corr()

              득점        도움        출장    경기당 기록     골 전환율
득점      1.000000  0.930795  0.467540  0.844702  0.630334
도움      0.930795  1.000000  0.743833  0.601852  0.333563
출장      0.467540  0.743833  1.000000 -0.067348 -0.375023
경기당 기록  0.844702  0.601852 -0.067348  1.000000  0.941866
골 전환율   0.630334  0.333563 -0.375023  0.941866  1.000000