In [1]:
import pandas as pd
import pickle

import os
from dotenv import load_dotenv
import xgboost as xgb

load_dotenv(verbose = True)
path = os.getenv('url')
data = pd.read_csv(os.path.join(path, 'tier.csv'))
y_data0 = data['target']
x_data0 = data.drop(['target'], axis = 1)




dto = xgb.DMatrix(data = x_data0, label = y_data0)

with open('xgb_tier.model', 'rb') as f:
    xgbtest = pickle.load(f)
pred = xgbtest.predict(dto)

    
c_data = x_data0.copy()
c_data['티어'] = pred
c_data

     득점  도움  파울  경고  퇴장  출장  교체  경기당 기록   티어
0    26   5  42   4   1  31  13    0.84  0.0
1    24   4  39   4   0  36  13    0.67  0.0
2    22   1  31   2   0  32  12    0.69  0.0
3    19   4  24   5   0  35   9    0.54  6.0
4    14   6  30   0   0  37  22    0.38  7.0
..   ..  ..  ..  ..  ..  ..  ..     ...  ...
175   6   1  23   4   0  34  28    0.18  5.0
176   5   0  17   0   0  12   5    0.42  4.0
177   5   0   9   0   0  24  23    0.21  1.0
178   5   0   4   0   0  25  23    0.20  1.0
179   5   0   8   1   0  26  26    0.19  5.0

[180 rows x 9 columns]

In [2]:
cluster = c_data.groupby('티어')

In [3]:
cluster.mean()

,득점,도움,파울,경고,퇴장,출장,교체,경기당 기록
티어,,,,,,,,
0.0,18.285714,4.857143,43.214286,3.285714,0.071429,34.142857,12.571429,0.540000
1.0,7.034483,2.310345,11.344828,1.172414,0.034483,21.620690,13.000000,0.346207
2.0,9.842105,3.736842,37.578947,3.789474,0.052632,33.684211,23.947368,0.292105
3.0,9.928571,4.214286,55.428571,5.285714,0.285714,30.428571,9.785714,0.335000
4.0,7.423077,2.153846,23.038462,1.846154,0.076923,19.884615,9.923077,0.375385
5.0,7.750000,2.666667,18.750000,2.250000,0.055556,31.222222,24.972222,0.248333
6.0,10.153846,4.923077,24.615385,3.153846,0.153846,31.923077,6.538462,0.326923
7.0,13.583333,4.750000,25.416667,2.083333,0.083333,34.416667,18.250000,0.405833
8.0,6.538462,2.384615,32.615385,3.230769,0.076923,28.769231,18.615385,0.223846
9.0,11.750000,4.250000,57.750000,6.000000,0.250000,36.250000,27.750000,0.325000